.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    padding: 0.5rem 2rem;
    background: #252525;
    color: white;
    height: 10vh;
    width: 100%;
}
.list{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    padding: 1rem;
    border-radius: 50rem;
    background: #787878;
}
.thumbNail{
    display: flex;
    gap: 1rem;
}
.thumbNail img{
    width: 100%;
    height: 2.5rem;
}
.menuBar{
    display: none;
}
@media only screen and (max-width: 600px){
    .nav{
        flex-direction: column-reverse;
        padding: 0.5rem 1rem;
    }
    .thumbNail{
        align-self: flex-start;
    }
    .brightnessIcon,.list{
        display: none;
    }
    .menuBar{
        display: flex;
        align-self: flex-end;
        position: absolute;
        translate: 0 -0.5rem;
    }
}