.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #252525;
}
.groupLogo{
    display: flex;
    gap: 0.5rem;
    position: relative;
    bottom: -1.5rem;
}
.circleLogo{
    border-radius: 50%;
    background: #1E1E1E;
    color: white;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    cursor: pointer;
}
.content{
    background: #F4C22F;
    padding: 1.5rem 0 0.55rem 0;
    width: 100%;
    text-align: center;
    font-size: small;
}