.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #F4C22F;
    padding: 0.5rem 0;
    height: 6vh;
    width: 100%;
}
.groupLogo{
    display: flex;
    gap: 0.5rem;
    /* position: relative;
    bottom: -1.5rem; */
}
.circleLogo{
    border-radius: 50%;
    background: #1E1E1E;
    color: white;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    cursor: pointer;
}
.content{
    font-size:x-small;
    text-transform: capitalize;
    font-weight: lighter;
    text-align: center;
}
.documentation{
    cursor: pointer;
    color: #EA4335;
}
@media only screen and (max-width:600px){
    .footer{
        flex-direction: column-reverse;
        height: fit-content;
    }
}