.main{
    display: flex;
    gap: 2rem;
    min-height: 30rem;
    width: 50%;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    padding: 1.5rem;
}
.ImgDiv{
    width: 40%;
}
.ImgSpan{
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
}
.Img{
    width: 100%; 
    height: auto;   
    background-position: center;
    background-size: contain;
}
.contentSec{
    width: 60%;
    font-size: 1.25rem;
    font-style: italic;
    color: #252525;
}