.homeBody{
    background: #252525;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
    text-transform: capitalize;
}
.content{
    display: grid;
    flex-direction: column;
    gap: 1rem;
}
.h1{
    font-family:system-ui;
    font-weight: 700;
}
.green{
    color: #34A853;
}
.para{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
}
.buttonBox{
    display: flex;
    position: relative;
    z-index: 0;
    justify-self: end;
}
.button{
    all: unset;
    position: relative;
    padding: 0%;
    width: 12rem;
    height: 2.5rem;
    text-align: center;
    background-color: #4285F4;
    color: black;
    border: 1px solid #4285F4;
    border-radius: 8px;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 1px 1px 3px 1px black;
}
.button::before, .button::after{
    content: "";
    position: absolute;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    border: 2px solid #4285F4;
    border-radius: 8px;
    cursor: pointer;
    z-index: -1;
    top: 5px;
    left: 5px;
    transition: 0.5s;
}
.button::after{
    top: 0;
    left: 0;
    width: 0;
    border: none;
    background: rgba(0,0,0,0.25);
}
.button:hover::after{
    width: 100%;
}
.button:hover::before{
    transform: translate(-3px,-3px);
}
.button:hover{
    border: 1px solid #4285F4;
    box-shadow: none;
    transform: translate(3px,3px);
}
@media only screen and(max-width: 600px){
    .homeBody{
        width: fit-content;
    }
}